@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap");
* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    text-size-adjust: 100%;
    tab-size: 4;
}

body {
    display: block;
    width: 100%;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
  display: flex;
  justify-content: sb;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
  padding: 20px;
}

 
h1 {
    font-size: 36px;
  }

p {
    line-height: 1.5;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
  
a {
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}

ul {
    display: flex;
}
  
li {
    list-style-type: none;
}



/*

Landing

*/

#landing {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    display: flex;
    width: 100px;
    align-items: center;
}

.word__logo {
    font-size: 18px;
    font-weight: bold;
}

.nav__link {
    display: flex;
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(36, 62, 99);
    font-weight: bold;
    padding: 8px;
  }

.nav__link:hover {
    text-decoration: underline;
}

.info__col--input,
.nav__link--primary {
    color: white;
    background-color: rgb(100, 21, 255);
    border-radius: 9999px;
    padding: 12px 32px;
}

.nav__link--primary:hover {
    text-decoration: none;
}

.info__col {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.info__col1--words {
    width: 40%;
    display: flex;
    flex-direction: column;

}

.info__col--para {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.info__col2--pic {
    width: 60%;
    display: flex;
    flex-direction: column;
    
}